
/*
  http://www.qiushibaike.com/ 网站中广告 css
*/
#BAIDU_SSP__wrapper_u2558091_0 {
  display: none!important;
}
#BAIDU_SSP__wrapper_u1991963_0 {
  display: none!important;
}
#home > a {
  display: none!important;
}