<footer>
<p class="text-center text-muted">© Copyright 2014 The Awesome People</p>
</footer>
<!-- assets -->
<script src="http://cdn.staticfile.org/jquery/1.11.1/jquery.min.js"></script>

</body>
</html>
