<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= locals.title %></title>
  <!-- Bootstrap -->
  <link href="/_site/bootstrap-3.3.0/css/bootstrap.min.css" rel="stylesheet">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <link href="/_site/style.css" rel="stylesheet" />
  <link href="/_site/dashboard.css" rel="stylesheet" />
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">one</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">样式库</a></li>
        <li><a href="#">组件</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if (!locals.user) { %>
        <li><a href="/login">登录</a></li>
        <li><a href="/reg">注册</a></li>
        <% } else { %>
        <li><a href='javascript:;'>欢迎您,<%= locals.user.name %></a></li>
        <li><a href="/logout">退出</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
<div id="container" class="container">
  <% if (locals.success) { %>
    <div class="alert alert-success">
      <%= locals.success %>
    </div>
  <% } %>
  <% if (locals.error) { %>
    <div class="alert alert-error">
      <%= locals.error %>
    </div>
  <% } %>
</div>
